@using CocBookSite.Models;
@model List<Category>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <form id="book-form" class="form-stacked" method="post" action="@Url.Action("AddBook","Admin")" enctype="multipart/form-data">
                <!-- Address form -->
                <!-- book-name input-->
                <div class="control-group">
                    <label class="control-label">
                        Tên Sách</label>
                    <div class="controls">
                        <input id="bookname" name="bookname" type="text" class="input-xlarge">
                        <p class="help-block">
                        </p>
                    </div>
                </div>
                <!-- full-name input-->
                <div class="control-group">
                    <label class="control-label">
                        Tác giả</label>
                    <div class="controls">
                        <input id="authorname" name="authorname" type="text" class="input-xlarge">
                        <p class="help-block">
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Nhà xuất bản</label>
                    <div class="controls">
                        <input id="publisher" name="publisher" type="text" class="input-xlarge">
                        <p class="help-block">
                        </p>
                    </div>
                </div>
                <!-- Telephone -->
                <div class="control-group">
                    <label class="control-label">
                        Lần tái bản</label>
                    <div class="controls">
                        <input id="No" name="No" type="text" class="input">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Ngày xuất bản</label>
                    <div class="controls">
                        <input id="ptime" name="ptime" type="text" class="input">
                        <p class="help-block">
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Giá bìa</label>
                    <div class="controls">
                        <input id="rprice" name="rprice" type="text" class="input">
                        <p class="help-block">
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Giá nhập</label>
                    <div class="controls">
                        <input id="iprice" name="iprice" type="text" class="input">
                        <p class="help-block">
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Giá bán</label>
                    <div class="controls">
                        <input id="sprice" name="sprice" type="text" class="input">
                        <p class="help-block">
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Thông tin</label>
                    <div class="controls">
                        <textarea id="info" name="info" rows="5" cols="21"></textarea>
                        <p class="help-block">
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Thông tin thêm</label>
                    <div class="controls">
                        <textarea id="extendinfo" name="extendinfo" rows="5" cols="21"></textarea>
                        <p class="help-block">
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Thể loại</label>
                    <div class="controls">
                        <select id="cate" name="cate">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <option value="@Model[i].CateID">@Model[i].Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Hình ảnh</label>
                    <div class="controls">
                        <input type="file" id="pic" name="pic" />
                    </div>
                </div>
                <div class="button-contain text-right">
                    <button type="submit" id="btn-register" class="btn btn-large btn-success">
                        Thêm sách
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@if (false)
{  
    <script src="/Scripts/jquery-1.5.1-vsdoc.js" type="text/javascript">

    </script> 
}
